html, body {
  margin: 0;
  padding: 0;
}

body {
	
  /* This centers our sketch horizontally. 
  justify-content: center;

   This centers our sketch vertically. 
  align-items: center;*/
	
	height: 100vh;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
} 


canvas {
	border-style: solid;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

button {
  position: absolute;
  top: 510px;
  left: 50%;
  transform: translateX(-50%);
}
